<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<string>35.097901</string>
		<key>long</key>
		<string>129.034642</string>
		<key>title</key>
		<string>남포역대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.210419</string>
		<key>long</key>
		<string>129.005199</string>
		<key>title</key>
		<string>덕천역대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.204823</string>
		<key>long</key>
		<string>129.077076</string>
		<key>title</key>
		<string>동래역4호선대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.205467</string>
		<key>long</key>
		<string>129.068040</string>
		<key>title</key>
		<string>미남역대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.162361</string>
		<key>long</key>
		<string>128.984619</string>
		<key>title</key>
		<string>사상역대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.158281</string>
		<key>long</key>
		<string>129.059564</string>
		<key>title</key>
		<string>서면역1호선대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.186034</string>
		<key>long</key>
		<string>129.081585</string>
		<key>title</key>
		<string>연산역대합실</string>
	</dict>
	<dict>
		<key>lat</key>
		<string>35.167337</string>
		<key>long</key>
		<string>129.115170</string>
		<key>title</key>
		<string>수영역대합실</string>
	</dict>
</array>
</plist>
